body {
  background-color: #edebd0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#container {
  background-color: #2968ce;
  padding: 1em;
}
#topo {
  padding: 2em 0 1em; 
}
.center {
  margin: 0 auto; 
  width: 60%;
}
#footer {
  text-align: right;
  font-size: 1.1em;
  padding: 1em 0;
  width: 60%!important;
  box-sizing: border-box;
  padding-right: 6.7em;
}
#footer a {
  color: #1f57b7;
  text-decoration: none;
}
h1, h2, label {
  color: #fff;
}
h1 {
  margin: 0;
}
#container {
  padding: 1em;
}
table {
  width: 80%;
  background-color: #fff;
}
td {
  background-color: #fff;
  color: #333;
}
th {
  background-color: #afcbf7;
}
button.button-submit {
  background-color: #95e560;
}
